<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--  *两者选一*   -->
        <!-- 男<input type="radio" value="a" v-model="value">
        女<input type="radio" value="b" v-model="value"> -->

        <!--  * 多选框 *-->
        <!-- <input type="checkbox" :value="value" v-model="value"> -->

        <select>
            <option :value="item.name" v-for="item in user" v-model="item.name">
                {{item.name}}
            </option>
        </select>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',

            data: {
                value: [],
                status: 0,
                user: [
                    {
                        name: '张三',
                        age: 10,
                        sex: '男'
                    },
                    {
                        name: '李四',
                        age: 20,
                        sex: '女'

                    },
                    {
                        name: '张芳芳',
                        age: 30,
                        sex: '女'
                    },
                    {
                        name: 'Jenny',
                        age: 40,
                        sex: '男'
                    }

                ]
            }
        })
    </script>
</body>

</html>