<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
</head>
<style>

</style>

<body>
    <div id="demo">
        <ul>
            <li v-for="(item,index) in messageLIst">
                {{item}}
                <button @click="del(item,index,$event)">删除</button>
            </li>
        </ul>
        <span>点击选择user:</span>
        <button v-show="user" @click="user=!user">A</button>
        <button v-if="user===false" @click="user=!user">B</button>
        <textarea v-model="text"></textarea>
        <button @click="push()">发布消息</button>
    </div>

    <script>
        const vm = new Vue({
            el: '#demo',
            data: {
                messageLIst: [],
                text: 'I am v-model',
                user: true
            },
            methods: {
                push() {
                    this.messageLIst.push(this.text)
                },
                del(val, i, e) {
                    this.messageLIst.splice(i, 1)
                }
            },

        })
    </script>
</body>

</html>