<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js "></script>
</head>
<style>
  .selected {
    margin-right: 0;
    float: right;
  }

  .spanSelected {
    width: 200px;
    height: 50px;
    background: green;
    border: 1px solid #000;
    border-radius: 15px;
  }
</style>

<body>
  <div id="demo">
    <div class="users">
      <button v-show="user" @click="user=!user">A</button>
      <button v-show="user===false" @click="user=!user">B</button>
    </div>
    <ul v-bind:style="ulStyle">
      <li 
      v-for="(item,index) in messageLIst" 
      v-bind:style="liStyle">
        <span v-bind:style="spanStyle" v-bind:class="{selected:user,spanSelected:user}">{{ item }}</span>
        <button @click="del(item,index,$event)" v-bind:class="{selected:user}">
          撤回
        </button>
      </li>
    </ul>
    <textarea v-model="text" @focus="input()"></textarea>
    <button @click="push()">发送</button>
  </div>

  <script>
    const vm = new Vue({
      el: "#demo",
      data: {
        messageLIst: [],
        text: "说点什么吧",
        user: true,
        ulStyle: {
          margin: "0",
          padding: "0",
          width: "500px",
          height: "300px",
          background: "red",
          border: "1px solid #000",
          borderRadius: "15px"
        },

        liStyle: {
          "list-style": "none",
          width: "100%",
          height: "50px"
          // 'float': 'left',
        },
        spanStyle: {
          width: "200px",
          height: "50px",
          border: "1px solid #000",
          borderRadius: "15px",
          background: "green"
        }
      },
      methods: {
        input() {
          this.text = "";
        },
        push() {
          if (this.text < 1) {
            alert("请输入内容");
          } else {
            this.messageLIst.push(this.text);
            this.text = "";
          }
        },

        del(val, i, e) {
          this.messageLIst.splice(i, 1);
        }
      }
    });
  </script>
</body>

</html>