<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="item in message_array">{{item}}</li>
        </ul>
        <input type="text" v-model="message" />
        <button v-on:click="dealMessage">add</button>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                message_array: [],
                message: ''
            },
            methods: {
                dealMessage: function () {
                    this.message_array.push(this.message);
                    this.message = '';
                }
            }
        })
    </script>
</body>

</html>