<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <h1>单选模式</h1>
            <input type="checkbox" v-model="checked">
            <p>{{checked}}</p>
        </div>
        <div>
            <h1>多选模式</h1>
            A<input type="checkbox" value="A" v-model="checks">
            B<input type="checkbox" value="B" v-model="checks">
            C<input type="checkbox" value="C" v-model="checks">
            <P>{{checks}}</P>
        </div>
        <div>
            <h1>radio</h1>
            <span>
                <label>女</label>
                <input type="radio" value="女" v-model="radio">
            </span>
            <span>
                <label>男</label>
                <input type="radio" value="男" v-model="radio">
            </span>
            <p>{{radio}}</p>
        </div>
        <div>
            <h1>range</h1>
            <span>
                <input type="range" v-model="range">
                <p>{{range}}</p>
            </span>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                checked: '',
                status: 0,
                checks: [],
                radio: '',
                range: ''

            }
        })
    </script>
</body>

</html>